#messages {
  height: 400px;
  width: 700px;
  border-style: dotted;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.message {
  padding-left: 10px;
  padding-right: 10px;
}

.message-body {
  float: left;
}

.message-time {
  float: right;
  color: #dcd5dc;
}
